body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section.menu {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
section.slideshow {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

div.slider {
    display: flex;
    gap: 5px; /* Görseller arasındaki boşluk */

    animation: slide 60s linear infinite; /* 20 saniyede bir kayacak şekilde ayarlandı, istediğiniz süreyi ayarlayabilirsiniz */
}

div.slider img {
    width: 150px;
    height: 150px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%); /* Tamamen kayacak ve sürekli devam edecek */
    }
}